<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/loginStyle.css">

    <title>Login Page</title>
</head>

<body>
    <div class="title">
        <h2><img src="blog(1).png" height="60px" > Blogger</h2> 
    </div>
    <div class="section">
        <p>Publish your passion, your thoughts</p>
    </div>
    <br>
    <div class='login-btn'>
        <a href="/auth/google">
            <img src='google_login.jpg'  width='250px'>
        </a>
    </div>
</body>
</html>
